body {
    margin: 0;
    background-color:black;
}

@keyframes backGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}