body {
    margin: 0;
    background: linear-gradient(45deg, #0b0e30, #394091, #252847);
}

@keyframes backGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}