.intro {
  margin: 0 auto;
  padding: 20px 10px;
  border-left: 1px solid;
  border-right: 1px solid;
  display: grid;
  place-items: center;
  line-height: 100%;
  width: 90%;
  color: white;
  .index {
    border: botom 1px;
  }
  p {
    font-size: 2vh;
    font-weight: 800;
  }
}
