.container {
  width: 100%;
  height: calc(100vw / 1.8);
  display: grid;
  grid-template-rows: 15% 5% 5% 20% 30% 5% 5% 15%;
  grid-template-columns: 10% 2.5% 35% 2.5% 10% 10% 30%;
  background-color: midnightblue;
  place-items: center;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.asari {
  grid-area: 2/2/3/3;
}

.group {
  grid-area: 2/3/3/4;
  color: white;
  font-size: 2vh;
}

.meteor {
  grid-area: 2/3/8/4;
  animation-name: fadeinup;
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.title {
  grid-area: 3/2/7/5;
  color: yellow;
  text-shadow: 4px 4px 4px blue;
  font-size: 7vw;
  text-align: center;
  z-index: 1;
  animation-name: fadeinup;
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.earth {
  grid-area: 4/6/8/8;
  margin-right: -70%;
}

.mars {
  grid-area: 4/6/9/8;
  margin-bottom: -100%;
}

.tsubu {
  grid-area: 6/7/9/8;
}

.rocket {
  grid-area: 5/6/6/7;
}

@media (min-width: 1024px) {
  .container {
    height: 100vh;
  }
  .group {
    font-size: 3vh;
  }
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
