.keyVisual {
  width: 100%;
  height: 400px;
  position: relative;
  display: grid;
  place-items: center;
  h1 {
    position: fixed;
    padding: 20px 20px;
    border: solid 1px white;
    font-size: 10vw;
    color: white;
    animation-name: fadeinup;
    opacity: 0;
    animation-delay: 3s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    .highlight {
      text-decoration: underline;
      text-decoration-thickness: 0.2em;
      text-decoration-color: rgba(255, 0, 43, 0.8);
      text-underline-offset: -0.1em;
      text-decoration-skip-ink: none;
    }
  }
}

.keyVisual::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: url(https://cdn.pixabay.com/photo/2017/02/09/12/02/mars-2051747_1280.png);
  background-size: cover;
  background-position: top right;
  animation-name: fadein;
  opacity: 0;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contents {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 3000px;
  padding-top: 50px;
  margin: 0 auto;
  background: url(/space.png);
  background-size: cover;
  animation: backGradient 20s ease infinite;
  box-shadow: 0 -2px 8px black;
}

.container {
  margin: 0 auto;
  width: 90vw;
}

.intro {
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  place-items: center;
  line-height: 100%;
  background-color: #252847;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 0 8px black;
  .index {
    color: red;
    border: botom 1px;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
  }
}

@media (min-width: 1024px) {
  .keyVisual {
    height: 100vh;
  }
  .keyVisual::before {
    height: 100vh;
  }
  .container {
    width: 30vw;
  }
}
